spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
#      discovery:
#        locator:
#          enabled: true
#          lower-case-service-id: true
      default-filters:
        - name: Retry
          args:
            retries: 3
            methods: GET
            statuses: BAD_GATEWAY
            backoff:
              firstBackoff: 50ms
              maxBackoff: 500ms
              factor: 2
              basedOnPreiousValue: false
      routes:
        - id: board-route
          uri: lb://SPRINGBOARD/
          predicates:
            - Path=/boards/**
        - id: column-route
          uri: lb://SPRINGCOLUMN/
          predicates:
            - Path=/columns/**
        - id: issue-route
          uri: lb://SPRINGISSUE/
          predicates:
            - Path=/issues/**
        - id: comment-route
          uri: lb://SPRINGCOMMENT/
          predicates:
            - Path=/comments/**
        - id: user-route
          uri: lb://SPRINGUSER/
          predicates:
            - Path=/users/**
server:
  port: 8000

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:9090/eureka

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"