spring:
  jmx:
    enabled: false
  main:
    lazy-initialization: true
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      #      discovery:
      #        locator:
      #          enabled: true
      #          lower-case-service-id: true
      default-filters:
        - name: Retry
          args:
            retries: 3
            methods: GET
            statuses: BAD_GATEWAY
            backoff:
              firstBackoff: 50ms
              maxBackoff: 500ms
              factor: 2
              basedOnPreiousValue: false
      routes:
        - id: board-route
          uri: lb://SPRINGBOARD/
          predicates:
            - Path=/boards/**
          filters:
            - name: CircuitBreaker
              args:
                name: boards_CB
                registerHealthIndicator: true
                failureRateThreshold: 50
                slidingWindowSize: 20
                minimumNumberOfCalls: 20
                waitDurationInOpenState: 10s
                permmitedNumberOfCallsInHalfOpenState: 5
        - id: column-route
          uri: lb://SPRINGCOLUMN/
          predicates:
            - Path=/columns/**
          filters:
            - name: CircuitBreaker
              args:
                name: columns_CB
                registerHealthIndicator: true
                failureRateThreshold: 50
                slidingWindowSize: 20
                minimumNumberOfCalls: 20
                waitDurationInOpenState: 10s
                permmitedNumberOfCallsInHalfOpenState: 5
        - id: issue-route
          uri: lb://SPRINGISSUE/
          predicates:
            - Path=/issues/**
          filters:
            - name: CircuitBreaker
              args:
                name: issues_CB
                registerHealthIndicator: true
                failureRateThreshold: 50
                slidingWindowSize: 20
                minimumNumberOfCalls: 20
                waitDurationInOpenState: 10s
                permmitedNumberOfCallsInHalfOpenState: 5
        - id: comment-route
          uri: lb://SPRINGCOMMENT/
          predicates:
            - Path=/comments/**
          filters:
            - name: CircuitBreaker
              args:
                name: comments_CB
                registerHealthIndicator: true
                failureRateThreshold: 50
                slidingWindowSize: 20
                minimumNumberOfCalls: 20
                waitDurationInOpenState: 10s
                permmitedNumberOfCallsInHalfOpenState: 5
        - id: user-route
          uri: lb://SPRINGUSER/
          predicates:
            - Path=/users/**
          filters:
            - name: CircuitBreaker
              args:
                name: users_CB
                registerHealthIndicator: true
                failureRateThreshold: 50
                slidingWindowSize: 20
                minimumNumberOfCalls: 20
                waitDurationInOpenState: 10s
                permmitedNumberOfCallsInHalfOpenState: 5
server:
  port: 8000

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:9090/eureka

management:
  endpoint:
    gateway:
      enabled: true
    circuitbreakers:
      enabled: true
    health:
      show-details: ALWAYS
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    circuitbreakers:
      enabled: true