spring:
  jmx:
    enabled: false
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  main:
    lazy-initialization: true

eureka:
  instance:
    preferIpAddress: true
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:9090/eureka/
  server:
    renewalPercentThreshold: 0.49

server:
  port: 9090

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    circuitbreakers:
      enabled: true
    health:
      show-details: ALWAYS
  health:
    circuitbreakers:
      enabled: true

#resilience4j:
#  circuitbreaker:
#    instances:
#      save_board_cb:
#        registerHealthIndicator: true
#        ringBufferSizeInClosedState: 5
#        ringBufferSizeInHalfOpenState: 3
#        waitDurationInOpenState: 10s
#        failureRateThreshold: 50
#        recordExceptions:
#          - feign.FeignException