spring:
  jmx:
    enabled: false
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  main:
    lazy-initialization: true
  zipkin:
    enabled: true
    sender.type: web
    base-url: http://localhost:9411
    locator:
      discovery:
        enabled: true
  sleuth:
    enabled: true
    sampler:
      probability: 1.0

eureka:
  instance:
    preferIpAddress: true
    lease-expiration-duration-in-seconds: 10
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:9090/eureka/
  server:
    expected-client-renewal-interval-seconds: 5
    eviction-interval-timer-in-ms: 10

server:
  port: 8085

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS