spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/columns
    username: local
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  jmx:
    enabled: false
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  main:
    lazy-initialization: true

eureka:
  instance:
    preferIpAddress: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:9090/eureka/

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    circuitbreakers:
      enabled: true
    health:
      show-details: ALWAYS
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      isUserValid_cb:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slidingWindowSize: 20
        minimumNumberOfCalls: 20
        waitDurationInOpenState: 10s
        permmitedNumberOfCallsInHalfOpenState: 5
      isBoardValid_cb:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slidingWindowSize: 20
        minimumNumberOfCalls: 20
        waitDurationInOpenState: 10s
        permmitedNumberOfCallsInHalfOpenState: 5